h1 {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
  display: flex;
  font-size: 40px;
  margin-top: 200px;
}
.coming{
  width: 700px;
  height: 500px;
}
th{
  background-color: #212121 !important;
}
full-calendar{
  height: 35em;
}
.rowonecss{
  margin-top: 30px;
  margin-bottom:30px;
}
.card{
  height: 150px;
  padding:0;
  margin: 0;
}
.card-body{
  margin:0px;
  padding-bottom:10px;
  
}
.card1{
  background-color:#DC143C;
}
.card2{
  background-color: #FFC107;
}
.card3{
  background-color:#3CB371;
}
.card4{
  background-color:#40E0D0;;
}

.date{
  display: flex;
  justify-content:flex-end;
  align-items:flex-end;
  font-size: 40px;
  font-weight: bolder;
}
.days{
  font: size 20px;
  
}
.card-header{
  font-weight:bolder
}
.currentmonth{
  justify-content: center;
  align-items: center;
  display: flex;
  padding:15px 5px 5px 5px;
  font-size: 30px;
}