<div class="container">
    <p class="currentmonth">
        Current Month
    </p>
    <div class="row rowonecss">
        <div class="col-sm mb-2 col-md col-lg">
            <div class="card card1">
                <div class="card-header">
                     Absent Attendance
                </div>
                <div class="card-body ">
                    <p class="days">Days:</p>
                    <p class="date">
                        {{CurrentMonthAbsent}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm mb-2  col-md col-lg">
            <div class="card card2">
                <div class="card-header">
                     Pending Attendance
                </div>
                <div class="card-body ">
                    <p class="days">Days:</p>
                    <p class="date">
                        {{CurrentMonthPending}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm mb-2 col-md col-lg">
            <div class="card card3 ">
                <div class="card-header">
                     Present Attendance
                </div>
                <div class="card-body ">
                    <p class="days ">Days:</p>
                    <p class="date">
                            {{CurrentMonthPresent}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm mb-2 col-md col-lg ">
            <div class="card card4 ">
                <div class="card-header">
                     Working Days 
                </div>
                <div class="card-body ">
                    <p class="days ">Days:</p>
                    <p class="date">
                        {{CurrentMonthWorkingDaysTotal}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <full-calendar 
            #fullcalendar
            [options]="calendarOptions"
            ></full-calendar>
        </div>
    </div>
    
</div>

