.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}
.tablecss {
  box-shadow: 5px 5px 5px 5px rgba(59, 58, 58, 0.2) !important;
  padding:30px;
  margin: 20px;

}
.clickicon {
  size: 5px !important;
  // margin-left: -13px !important;
  color: #06d85f !important;
}
.btn {
  padding: 10px;
  size: 5px !important;
}
.crossicon {
  // margin-left: -10px !important;
  color: red !important;
}
table {
  width: 100%;
}
::ng-deep .mat-header-row {
  background-color: #266a96;
}
::ng-deep .mat-header-cell {
  color: white !important;
  font-size: 17px;
  font-weight: 400;
}
::ng-deep .mat-column-Action {
  text-align: right;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}
mat-header-cell {
  font-family: "Montserrat", sans-serif !important;
  background-color: #212121 !important;
}
mat-cell {
  font-family: "Montserrat", sans-serif !important;
}
.btn-dark {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 23px;
}
th{
  background-color: #212121;
}
.actioncss {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.btn-custom {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.disapprovecss {
  padding: 0px;
  color: red !important;
}

.tablediv{
  padding-right: 50px;
}
.actionbtn{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.heading {
  padding: 30px;
  font-size: 30px;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
}
.searchcss{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: -10px;
}
.custom-table{
  padding-bottom: 20px !important;
  margin-bottom: 20px !important;
}
