<h1 class="center headercss">
    Enter your Today's Task here
</h1>
<div class="container  maincss">

    <form [formGroup]="userprofile">

        <div class="row">

            <div class="col">
                <mat-form-field appearance="outline" class="pass">
                    <mat-label>Enter Your text here</mat-label>
                    <textarea matInput formControlName="taskupdate" placeholder="Task Update" required ></textarea>
                </mat-form-field>

            </div>
        </div>
        <div class="row">
            <div class="col-11">

                <div class="center hhcss" *ngIf="!isLoading">
                    <button type="submit" class="btn btn-dark" [disabled]="!userprofile.valid"
                        (click)="taskupdate()">Submit</button>

                </div>
                <div *ngIf="isLoading " class="center">
                    <app-loading-spinner></app-loading-spinner>
                </div>
            </div>

        </div>


    </form>
</div>