.headercss{
    font-family: 'Montserrat', sans-serif !important;
  }
  .pass{
    width: 14.5em !important;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }
  
  
  .desc{
    width: 100% !important;
  }
  mat-form-field{
    padding: 0px;
  }