.user-list-section{
    padding: 20px;
    .heading-area{
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        .heading{
            margin-bottom: 30px;
            font-size: 30px;
            // font-weight: 900 !important;
        }
        .add-sign{
            padding: 0 10px;
        }
    }
}
