
<section class="page-content" class="d-flex flex-column full-height">
    <p class="heading">Attendance Approval </p>
    <div class="mb-auto statusBox">
        <div class="row">
            <div class="col-md-6 col-sm-12 center">

            </div>
            <div class="col-md-6 col-sm-12 currentDate">
            </div>
        </div>
    </div>
    <div>
        <div class="col-12">
            <app-approveinternhistory></app-approveinternhistory>
        </div>
    </div>
</section>
    