<section class="page-content full-height user-list-section">
    <div class="d-flex justify-content-between heading-area">
        <div class="row">
            <div class="col-12">
                <span class="heading"> Holiday Management</span>
                
            </div>
        </div>
        <div class="row custom-button">
            <button class="btn" (click)="onAddHoliday()">
                <i class="fa fa-plus fa-lg add-sign">
                </i>Add Holiday</button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row row-md-6 row-sm-4">
            <div class="col-lg-12 col-md-6 col-sm-2 ">
                <app-holidaymanagement></app-holidaymanagement>
            </div>
        </div>
    </div>
</section>