.img-box {
    padding: 30px;
    padding-left: 50px;
  .profile-img {
    width: 150px;
  }
}

.profile-content{
    padding-top: 50px;
    .heading{
        font-size: 30px;
        text-transform: capitalize;
    }
}
.heading{
  font-family: 'Montserrat', sans-serif !important;

}
.text-muted{
  font-family: 'Montserrat', sans-serif !important;

}