.headercss{
    font-family: 'Montserrat', sans-serif !important;
}
.pass{
    width: 14.5em !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.highlight{
  margin-top: -20px;
  font-size: 10px;
  margin-left: 10px;
  letter-spacing: 1px;
  color: brown;
}
